.tab-container {
    display: flex;
}

.tab {
    background-color: white;
    height: 50px;
    width: 100px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}