.author-image {
    width: 100%;
    max-width: 70px;
    min-width: 50px;
    margin: 5px;
    border-radius: 5px;
}

.article-info-container {
    margin: 5px;
    display: flex;
}

.article-info {
    margin: 10px;
    display: flex;
}


