.episode-list-container {
    display: flex;
    margin: 0 5px;
    width: 100%;
}

@media(max-width:700px) {
    .episode-list-container {
        padding: 5px 0;
        margin: 5px 0;
    }
}

.paper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}