.trailer-video-container {
    display: flex;
    padding: 5px;
}

.video {
    max-width: 800px;
    width: 100%;
    height: 600px;
}

@media(max-width: 600) {
    .video {
        height: 250px;
    }
}

.paper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}