.episode-card-container {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
}

.episode-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 800px){
    .episode-info {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .episode-info {
        margin: 5px 0;
    }
}