.episode-card-container {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background-color: rgb(78, 0, 0);
    opacity: .9;
    color: white;
    border-radius: 5px;
}

a {
    color: white;
}

.episode-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 800px){
    .episode-info {
        flex-direction: column;
        justify-content: flex-start;
        margin: 5px 0;
        align-items: flex-start;
    }
}