.result {
    margin: 10px;
    height: 400px;
}

.result-paper {
    padding: 10px;
    max-width: 800px;
    min-height: 400px;
    min-width: 350px;
    display: flex;
    cursor: pointer;
    transition: .1s ease-in-out;
    margin-bottom: 20px;
    margin: 5px;
    background-color: rgb(78, 0, 0);
    opacity: .9;
    color: white;
    border-radius: 5px
}

.result-paper:hover {
    transition: .1s ease-in-out;
    transform: scale(1.005);
    color: darkgrey;
}

@media(max-width: 800px) {
    .result-paper {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        max-width: 800px;
    }
}

.info-container {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}
