.home-container {
    background-size: cover;
    transition: .3s ease-in-out;
}

.home-container-results {
    flex-direction: column;
    height: 100%;
}

.pagination-container {
    display: flex;
    justify-content: center;
}

.page-number {
    margin: 10px;
    font-size: 1.2rem;
}