.result-view-container {
    padding: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.result-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

@media (max-width: 800px){
    .result-wrapper {
        justify-content: flex-start;
        flex-direction: column;
    }
}